@import "../common//color.scss";
.header{
    background-color: $secondary-color;
    height: 8%;
    display: flex;
    padding: 20px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
            h2
            {
                color:$font-primary;
            }
    img
    {
        height:25%;
        width:25%;

    }
    form
    {
        width:50%;
        display: flex;
        justify-content: center;
        button
        {
            padding: 0px 8px;
            cursor: pointer;
            font-size: 20px;
            height: 38px;
        }
        input
        {
            font-size: 18px;
            width: 100%;
            padding: 5px 5px 5px 10px;
            height:38px;
            outline:none;
        }
    }
}