.ErrorPage
{
    margin: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1
    {
        color:blueviolet;
    }
    img
    {
        
        height: 70%;
        width:80%;
    }
}