@import "../common/color.scss";
.movie-list
{
    margin: 20px 0px;
    h1
    {
        color:$font-primary;
        margin: 10px;
        font-weight: 400;

    }
}
// .movie-container
// {
//     display: flex;
//     justify-content: space-evenly;
//     flex-wrap: wrap;
//     flex-direction: row;
//     align-content:center;
// }